# list in python
list is a python collection
1)List is ordered
2)List allow duplicate element
3)List is mutable/changable
4)Size of a list is not fixed

#Various supportable function in list:
append()
extend()
pop()
index()
count()
del()
remove()
sort()
reverse()

In [102]:
my_list=[0,1,2]

In [103]:
my_list=['string',2.5,4]

In [104]:
print(type(my_list))

<class 'list'>

In [105]:
len(my_list)

3

In [106]:
mylist=['one','two','three']

In [107]:
mylist[0]

'one'

In [108]:
mylist[1:]

['two', 'three']

In [109]:
#concatination
mylist

['one', 'two', 'three']

In [110]:
another_list=['four','five','six']

In [111]:
another_list

['four', 'five', 'six']

In [112]:
newlist=mylist + another_list

In [113]:
newlist

['one', 'two', 'three', 'four', 'five', 'six']

In [114]:
newlist[0]="ONE"

In [115]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six']

In [116]:
#append()
newlist.append('seven')

In [117]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [118]:
#pop()
newlist.pop()

'seven'

In [119]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six']

In [120]:
poped_item=newlist.pop()

In [121]:
poped_item

'six'

In [122]:
newlist

['ONE', 'two', 'three', 'four', 'five']

In [123]:
newlist.pop(0)

'ONE'

In [124]:
newlist

['two', 'three', 'four', 'five']

In [125]:
new_list=['a','g','b','d','l']
num_list=[1,5,2,8,6]

In [126]:
#sort()
new_list.sort()

In [127]:
new_list

['a', 'b', 'd', 'g', 'l']

In [128]:
num_list.sort()

In [129]:
num_list

[1, 2, 5, 6, 8]

In [130]:
#reverse()
num_list.reverse()

In [131]:
num_list

[8, 6, 5, 2, 1]

In [132]:
#extend()
new_list.extend(num_list)

In [133]:
new_list

['a', 'b', 'd', 'g', 'l', 8, 6, 5, 2, 1]

In [134]:
#index()
new_list.index(8)

5

In [135]:
#count()
new_list.count(6)

1

In [136]:
#del
del new_list[4]

In [137]:
new_list

['a', 'b', 'd', 'g', 8, 6, 5, 2, 1]

In [138]:
#remove()
new_list.remove(5)

In [139]:
new_list

['a', 'b', 'd', 'g', 8, 6, 2, 1]

In [140]:
#create a list by taking i/p from user.....
lb=[]
s=int(input('Enter a list size :: '))
for i in range(s):
    value=eval(input("Enter all element one by one :: "))
    lb.append(value)
print("my list is =", lb)

Enter a list size :: 2
Enter all element one by one :: 5
Enter all element one by one :: 3
my list is = [5, 3]

In [141]:
#take 2 list L1=[2,6,7,8] and another is L2=[2,7,12,65] and print common element into list L3 and show
L1=[2,6,7,8] 
L2=[2,7,12,65] 
L3=[]
for i in L1:
    if i in L2:
        L3.append(i)
print("the common element in the list is-",L3)

the common element in the list is- [2, 7]

# Tuples
properties
1)Tuple allow duplicate elements
2)Tuple is ordered
3)Tuple is not mutable/ changeble
4)Size of a tuple is fixed
#function
count()
index()

In [142]:
#create a Tuple by taking i/p from user.....
l1=[]
s=int(input('Enter a tuple size :: '))
for i in range(s):
    value=eval(input("Enter all element one by one :: "))
    l1.append(value)
T1=tuple(l1)    
print("my touple is =", T1)

Enter a tuple size :: 2
Enter all element one by one :: 5
Enter all element one by one :: 6
my touple is = (5, 6)

In [143]:
t=(1,2,3,4)

In [144]:
t

(1, 2, 3, 4)

In [145]:
print(type(t))

<class 'tuple'>

In [146]:
t[0]

1

In [147]:
t[-1]

4

In [148]:
t=('a','a','b','c')

In [149]:
t.count('a')

2

In [150]:
t.index("a")

0

In [151]:
t.index("b")

2

# Dictoionaries

In [152]:
my_dict={'key1':"val1",'key2':'val2'}

In [153]:
my_dict

{'key1': 'val1', 'key2': 'val2'}

In [154]:
print(type(my_dict))

<class 'dict'>

In [155]:
my_dict['key1']

'val1'

In [156]:
prices ={'apple':50,'grape':80,'orange':55}

In [157]:
prices['apple']

50

In [158]:
d={'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [159]:
d['k1']

123

In [160]:
d['k2']

[0, 1, 2]

In [161]:
d['k2'][2]

2

In [162]:
d['k3']

{'insidekey': 100}

In [163]:
d['k3']['insidekey']

100

In [164]:
#add new key in dictionary
d={'key1':100,'key2':200,}

In [165]:
d

{'key1': 100, 'key2': 200}

In [166]:
d['key3']=300

In [167]:
d

{'key1': 100, 'key2': 200, 'key3': 300}

In [168]:
d["key1"]= "new value"

In [169]:
d

{'key1': 'new value', 'key2': 200, 'key3': 300}

In [170]:
d={'key1': 100, 'key2': 200, 'key3': 300}

In [171]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [172]:
d.values()

dict_values([100, 200, 300])

In [173]:
d.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 300)])

# sets

In [174]:
myset=set()

In [175]:
myset

set()

In [176]:
myset.add(1)

In [177]:
myset

{1}

In [178]:
myset.add(2)

In [179]:
myset

{1, 2}

In [181]:
mylist=[1,1,1,1,1,1,2,2,2,3,3]

In [182]:
set(mylist)

{1, 2, 3}

In [187]:
set("Mississippi")

{'M', 'i', 'p', 's'}

# Boolean

In [188]:
True

True

In [189]:
False

False

In [190]:
type(False)

bool

In [191]:
1>2

False

In [192]:
1==1

True

In [193]:
b=None

In [194]:
b